@import '../../global.css';

.container_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
.box {
    text-align: center;
    width: 40vw;
    height: 60vh;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

  
@media screen and (max-width: 992px) {
    .box {
        padding: 10px;
        text-align: center;
        width: 80%;
        height: auto;
        background: #fff;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
  }
  
  @media (max-width: 576px) {
    .box {
        text-align: center;
        width: 80%;
        height: auto;
        background: #fff;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
   
  }