.container_formulario {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    margin: 0 auto;
}
.container_formulario .input_md1 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 50px auto 0 auto;
}
.container_formulario .input_md2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md3 {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md4 {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md5 {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md6 {
    display: grid;
    gap: 20px;
    width: 80%;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md7 {
    display: grid;
    gap: 20px;
    width: 80%;
    margin: 50px auto 0 auto;
}
.text_h5 {
    margin-top: 50px;
}
.container_formulario .input_md8 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md9 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px auto 0 auto;
}
.container_formulario .input_md10 {
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    margin: 20px auto 0 auto;
}
.floating_label {
    position:relative;
}
  .floating_label input {
      width:100%; 
      height: 50px;
      font-size:16px;  
      border-radius: 5px;
    }
.floating_label label {
    text-transform: uppercase;

  }  
	.floating_label input:focus::-webkit-input-placeholder {opacity:0;}
	.floating_label input:focus::-moz-placeholder {opacity:0;}
	.floating_label input:focus:-moz-placeholder {opacity:0;}
	.floating_label input:focus:-ms-input-placeholder {opacity:0;}

	.floating_label input:focus + label, .floating_label input:required:valid + label {left:5px;top: 1px; opacity:1; font-size: 10px;}

  	.floating_label label {position:absolute; top:9px; font-size:13px; color:#515152; opacity:0; cursor:text; font-family: 'Open Sans', sans-serif;
		-webkit-transition: opacity 200ms ease, right 200ms ease;
		-moz-transition: opacity 200ms ease, right 200ms ease;
		-ms-transition: opacity 200ms ease, right 200ms ease;
		-o-transition: opacity 200ms ease, right 200ms ease;
		transition: opacity 200ms ease, right 200ms ease;
	}
.button_salvar button {
    margin: 2% 0 0  0;
    padding: 20px;
    width: 40%;
    background: rgb(6, 146, 151);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    font-size: 18px;
    color: #FFFF;
    font-weight: 900;
}
.button_salvar button:hover {
   
    background: rgb(3, 118, 122);
    
}
