  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 10px;
      list-style-type: none;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  .container_home {
    padding-top: 20px;
    margin: 8% 2% auto 4.6%;
    background: cornsilk;
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .table {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    width: 90%;
    margin: 90px auto 2% auto;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 18px;
  }
  table thead tr {
    height: 60px;
    background: #36304a;
    text-transform: uppercase;
  }
  table tbody tr {
    height: 60px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: center;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  

   th{
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: Roboto;
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
  }
  
  .column1 {
    width: 260px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 160px;
  }
  
  .column3 {
    width: 245px;
  }
  
  .column4 {
    width: 110px;
    text-align: right;
  }
  
  .column5 {
    width: 170px;
    text-align: right;
  }
  
  .column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
  }
  
  
  @media screen and (max-width: 992px) {
    table {
      display: block;
      margin-top: 20px;
    }
    table > *, table tr, table td, table th {
      display: block;
      
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-family: Roboto;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "MATRICULA";
    }
    table tbody tr td:nth-child(2):before {
      content: "CPF";
    }
    table tbody tr td:nth-child(3):before {
      content: "NOME";
    }
    table tbody tr td:nth-child(4):before {
      content: "EDITAR";
    }
    table tbody tr td:nth-child(5):before {
      content: "APAGAR";
    }
    table tbody tr td:nth-child(6):before {
      content: "IMPRIMIR";
    }
  
    .column4,
    .column5,
    .column6 {
      text-align: left;
    }
  
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
      width: 100%;
    }
  
    tbody tr {
      font-size: 14px;
      
    }

    .search input {
      width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .table {
      padding-left: 5px;
      padding-right: 5px;
    }
    .search input {
      width: 90%;
    }
  }

  .button_editar {
    border: 1px solid #077bc9;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }

  .button_editar:hover {
    border: 2px solid #077bc9;
    
  }
  
  .button_apagar {
    border: 1px solid #e04545;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  .button_apagar:hover {
    border: 2px solid #e90505;
   
  }

  .button_imprimir {
    border: 1px solid #049445;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  .button_imprimir:hover {
    border: 2px solid #049445;
    
  }
  .search {
    width: 90%;
    text-align: center;
  }
  .search input {
    width: 50%;
    padding: 20px;
    height: 50px;
    border-radius: 5px;
    color:#182848;
    border:2px solid #6a706d;
    text-align: left;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.search input::placeholder {
  color:#545557;
  
}