@import '../../global.css';

.container_edit_servidor {
  padding: 10px;
  margin: 2% 2% 10% 4.6%;
  background: cornsilk;
  width: 90%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formulario_servidor_edit_servidor {
  font-family: Roboto;
  text-align: center;
  margin-top: 50px;
  color:rgb(40, 2, 75);
}

.container_edit_servidor h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  color:#71B280;
}
h5 {
  font-size: 18px;
}
input {
  padding: 10px;
  height: 45px;
  border: 2px solid rgb(71, 3, 85);
  color: #7c7a7a;
  font-weight: 800;
  font-family: 'Roboto';
}

@media (max-width: 576px) {
    .container_cad_servidor {
        margin: 0;
        padding: 10px;
        width: 100%;
    }  
  }
