@import '../../global.css';
h1 {
    font-size: 28px;
    font-weight: 900;
    color: rgb(88, 88, 88);
    text-align: center;
}
input {
  padding: 10px;
  height: 45px;
  border: 2px solid rgb(71, 3, 85);
  color: #7c7a7a;
  font-weight: 800;
  font-family: 'Roboto';
}

@media (max-width: 576px) {
    .formulario_servidor_edit_servidor  {
        width: 100%;
    }
  }
