@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~antd/dist/antd.css';

:root {
    --primary-color: #353049d0;
    --secundary-color: #2F2E41;
    --tertiary-color: #e2e2e2;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   
    background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}