
.formulario_servidor_pdf {
    background: rgb(252, 251, 250);
    width: 21cm;
    height: 29.7cm;
    margin: 10px auto; 
    border-radius: 8px;
}
.inputs_block{
    display: grid;
    padding:0 15px 0 8px;
}
.inputs_block input {
    padding-top: 15px;
    border: 2px solid #222121;
    
}
.inputs_block span {
    height: 0;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
/*
    PRIMEIRA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md1_pdf {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.input_matricula_pdf input {
    width: 100%;
    border-right: 0;
}
.float_matricula {
    margin: 3px 0 0 5px;
    position: absolute;
    
}
.input_nome_pdf input{
    width: 100%;
    border-right: 0;
}
.float_nome {
    margin: 3px 0 0 5px;
    position: absolute;
    
    
}
.input_nascimento_pdf input{
    width: 100%;
}
.float_nascimento {
    margin: 3px 0 0 5px;
    position: absolute;
    
    
}

/*
    SEGUNDA LINHA DE INPUTS
*/
.input_md2_pdf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;

}

.input_cpf_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_cpf{
    margin-left: 5px;
    position: absolute;
}
.input_rg_pdf input {
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_rg{
    margin-left: 5px;
    position: absolute;
}
.input_uf_pdf input {
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_uf{
    margin-left: 5px;
    position: absolute;
}
.input_endereco_pdf input {
    width: 100%;
    border-top: 0;
}
.float_endereco{
    margin-left: 5px;
    position: absolute;
}
/*
    TERCEIRA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md3_pdf {
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
}
.input_bairro_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_bairro{
    margin-left: 5px;
    position: absolute;
}
.input_cidade_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_cidade{
    margin-left: 5px;
    position: absolute;
}
.input_cep_pdf input{
    width: 100%;
    border-top: 0;
}
.float_cep{
    margin-left: 5px;
    position: absolute;
}
/*
    TERCEIRA_1 LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md3_1_pdf {
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
}
.input_escolaridade_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_escolaridade{
    margin-left: 5px;
    position: absolute;
}
.input_pisPasep_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_pisPasep{
    margin-left: 5px;
    position: absolute;
}
.input_estCivil_pdf input{
    width: 100%;
    border-top: 0;
}
.float_estCivil{
    margin-left: 5px;
    position: absolute;
}
/*
    QUARTA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md4_pdf {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

}

.input_nomeConjuge_pdf input {
    width: 100%;
   border-top: 0;
   border-right: 0;

}
.float_nomeConjuge {
    margin-left: 5px;
    position: absolute;
}
.input_telResidencial_pdf input {
    width: 100%;
    border-top: 0;
    border-right: 0;
 
 }
 .float_telResidencial {
     margin-left: 5px;
     position: absolute;
 }
 .input_telCelular_pdf input {
     width: 100%;
    border-top: 0;
 
 }
 .float_telCelular {
     margin-left: 5px;
     position: absolute;
 }
 /*
    QUINTA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md5_pdf {
    display: grid;
    grid-template-columns: 1fr;

}
.input_email_pdf input{
    width: 100%;
    border-top: 0;
}
.float_email {
    margin-left: 5px;
    position: absolute;
}
/*
    SEXTA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md6_pdf {
    display: grid;
    grid-template-columns: 1fr;

}
.formulario_servidor_pdf .input_md6_pdf h5 {
    margin-top: 20px;
    font-weight: 800;

}
.input_dependentes_pdf input{
    width: 100%;
    
}
.float_dependentes {
    margin-left: 5px;
    position: absolute;
}
/*
    SETIMA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md7_pdf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.inputs_block h5 {
    margin-top: 20px;
    font-weight: 800;

}
.input_orgao_empregador_pdf input{
    width: 100%;
    border-right: 0;
}
.float_orgao_empregador {
    margin-left: 5px;
    position: absolute;
    
}
.input_municipio_pdf input {
   width: 100%;
   border-right: 0;
}
.float_municipio {
    margin-left: 5px;
    position: absolute;
    
}
.input_uf_cadastrais_pdf input{
   width: 100%;
   border-right: 0;
}
.float_uf_cadastrais {
    margin-left: 5px;
    position: absolute;
    
}
.input_data_admissao_pdf input{
  width: 100%;
}
.float_data_admissao {
    margin-left: 5px;
    position: absolute;
    
}

/*
    OITAVA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md8_pdf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.input_telefone_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_telefone {
    margin-left: 5px;
    position: absolute;
}
.input_secretaria_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_secretaria {
    margin-left: 5px;
    position: absolute;
}
.input_departamento_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_departamento {
    margin-left: 5px;
    position: absolute;
}
.input_carga_horaria_pdf input{
    width: 100%;
    border-top: 0;
}
.float_carga_horaria {
    margin-left: 5px;
    position: absolute;
}
/*
    NONA LINHA DE INPUTS
*/
.formulario_servidor_pdf .input_md9_pdf {
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.input_cargo_funcao_pdf input{
    width: 100%;
    border-top: 0;
    border-right: 0;
}
.float_cargo_funcao {
    margin-left: 5px;
    position: absolute;
}
.input_salario_base_pdf input{
    width: 100%;
    border-top: 0;
    
}
.float_salario_base {
    margin-left: 5px;
    position: absolute;
}

.input_inline_pdf {
    margin-top: -50px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}
.input_inline_pdf input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #222121; 
}
.float_local_data{
    position: relative;
    bottom: -70px;
    left: 100px;

}
.float_ass_servidor{
    position: relative;
    bottom: -70px;
    left: 100px;

}
.observacoes{
    padding:0 15px 0 8px;
    margin-top: 40px;
}
.area_observacao {
    width: 100%;
    height: 90px;
    border: 2px solid #222121;
}
.span_top {
    font-weight: 800;
    font-style: oblique;
}
.span_bottom {
    font-weight: 800;
    font-style: oblique;
}
.footer_pd {
    margin: 0 auto;
    margin-top: 40px;
    width: 95%;
    border: none;
    border-top: 3px solid #222121;

}
.span_footer {
  
    display: grid;
    text-align: center;
}
.formulario_servidor_pdf .cabecalho {
    text-align: center;
    padding-top: 10px;
}
.logo {
    position: relative;
    top: -90px;
    left: -300px;
    width: 140px;
}
.formulario_servidor_pdf h2 {
    text-align: center;
    margin-top: -110px;
}

.container_pdfViewer .buttom_download {
    margin: 5px auto auto 50%;
    width: auto;
    height: 60px;
    background: seagreen;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;

}

