
.formulario_servidor_pdf {
    width: 60.8vw;
    height: 150vh;
    margin: auto;
}
.input_md3_pdf {
    margin-top: 20px;
    display: flex;
    flex-grow: 3;
    justify-content:left;
}
.formulario_servidor_pdf .cabecalho {
    text-align: center;
    padding-top: 50px;
    margin-left: -370px;
}
.logo {
    position: relative;
    top: -90px;
    left: -300px;
    width: 150px;
}
.formulario_servidor_pdf h2 {
    text-align: center;
    margin-top: -110px;
    margin-left: -370px;
}
.inputs_pdf input {
    color: rgb(95, 95, 94);
    font-weight: 700;
    padding-top:20px ;
}
.inputs_pdf span {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    height: 0;
    
}
.input_matricula_pdf {
    border-right: 0;
    width: 15%;
   
}
.float_matricula{
    position: absolute;
    left: 365px;
    
}
.input_nome_pdf {
    border-right: 0;
    width: 15%;
   
}
.float_nome{
    position: absolute;
    left: 540px;
   
}
.input_nascimento_pdf {
    width: 11.5%;
}

.float_nascimento{
    position: absolute;
    left: 1008px;
   
}

.input_inline_pdf {
    display: flex;
    padding: 10px 0 80px 15px;
}
.input_left_pdf {
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
  margin-right: 50px;
  width: 30%;
}
.input_left_pdf span {
    position: relative;
    top: 25px;
    left: 130px;
}
.input_rigth_pdf {
    background: transparent;
    border: none;
    border-bottom: 3px solid black;
    width: 30%;
}
.input_rigth_pdf span {
    position: relative;
    top: 25px;
    left: 100px;
}
.observacoes {
    width: 66.5%;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
}
.observacoes span.span_top {
    font-size: 14px;
    position: relative;
    top: -40px;
}
.observacoes span.span_bottom {
    float: left;
    font-size: 14px;
    position: relative;
    left: 0;
    top: 65px;
}

.footer {
    border: none;
    border-top: 4px solid black;
    width: 66.5%;
    margin-top: 60px;
    text-align: center;
}
.buttom_download {
    width: 300px;
    height: 60px;
    background: seagreen;
    position: relative;
    left: 80%;
    top: -108px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;

}
.container_pdfViewer{
    padding-top: 20px;
    margin: 110px 0 0 80px;
    background: cornsilk;
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input_cpf_pdf {
    border-top: 0;
    border-right: 0;
    width: 13%;
}
.float_cpf{
    position: absolute;
    left: 365px;
    font-size: 12px;
    font-weight: 800;
}

.input_rg_pdf {
    border-top: 0;
    border-right: 0;
    width: 10%;
}
.float_rg{
    position: absolute;
    left: 516px;
}

.input_uf_pdf {
    border-top: 0;
    border-right: 0;
    width: 3%;
}
.float_uf{
    position: absolute;
    left: 632px;
    
}

.input_endereco_pdf {
    border-top: 0;
    width: 40.5%;
}
.float_endereco {
    position: absolute;
    left: 670px;
}   

.input_bairro_pdf {
    border-top: 0;
    border-right: 0;
    width: 15%;
}
.float_bairro {
    position: absolute;
    left: 365px;
}   

.input_cidade_pdf {
    border-top: 0;
    border-right: 0;
    width: 7%;
}
.float_cidade {
    position: absolute;
    left: 538px;
}   

.input_cep_pdf {
    border-top: 0;
    border-right: 0;
    width: 7%;
}
.float_cep {
    position: absolute;
    left: 622px;
}   

.input_escolaridade_pdf {
    border-top: 0;
    border-right: 0;
    width: 16.5%;
}
.float_escolaridade {
    position: absolute;
    left: 705px;
}
.input_pisPasep_pdf {
    border-top: 0;
    border-right: 0;
    width: 11%;
}
.float_pisPasep {
    position: absolute;
    left: 895px;
}

.input_estCivil_pdf {
    border-top: 0;
    width: 10%;
}
.float_estCivil {
    position: absolute;
    left: 1025px;
}

.input_nomeConjuge_pdf {
    border-top: 0;
    border-right: 0;
    width: 40%;
}
.float_nomeConjuge {
    position: absolute;
    left: 365px;
}

.input_telResidencial_pdf {
    border-top: 0;
    border-right: 0;
    width: 15%;
}
.float_telResidencial {
    position: absolute;
    left: 830px;
}

.input_telCelular_pdf {
    border-top: 0;
    width: 11.5%;
}
.float_telCelular {
    position: absolute;
    left: 1008px;
}

.input_email_pdf {
    border-top: 0;
    width: 66.5%;
}
.float_email {
    position: absolute;
    left: 365px;
}
input {
  padding: 5px;  
  height: 45px;
  border: 2px solid rgb(17, 16, 17);
}
.input_dependentes_pdf {
    width: 100%;

}
.float_dependentes{
    position: absolute;
    top: 696px;
    left: 365px;
}
.dependentes h5 {
    padding-bottom: 5px;
    margin: 20px 0 0 0;
}
.orgao_empregador_pdf {
    margin-left: 0;
    border-right: 0;
    width: 31.5%;
}
.float_orgao_empregador {
    position: absolute;
    left: 365px;
}

.municipio_pdf {
    border-right: 0;
    width: 15%;
}
.float_municipio {
    position: absolute;
    left: 732px;
}

.uf_pdf {
    border-right: 0;
    width: 5%;
}
.float_uf_cadastrais {
    position: absolute;
    left: 908px;
}
.data_admissao_pdf {
    width: 15.1%;
}
.float_data_admissao {
    position: absolute;
    left: 965px;
}
.dados_cadastrais h5 {
    margin: 20px 0 0 0px;
    padding-bottom: 5px;
}

.input_telefone_pdf {
    margin-left: 0;
    border-top: 0;
    border-right: 0;
    width: 14.9%;
}
.float_telefone {
    position: absolute;
    left: 365px;
}

.input_secretaria_pdf {
    margin-left: 0;
    border-top: 0;
    border-right: 0;
    width: 20%;
}
.float_secretaria {
    position: absolute;
    left: 538px;
}

.input_departamento_pdf {
    border-top: 0;
    border-right: 0;
    width: 16%;
}
.float_departamento {
    position: absolute;
    left: 772px;
}

.input_carga_horaria_pdf {
    border-top: 0;
    width: 15.664%;
}
.float_carga_horaria {
    position: absolute;
    left: 960px;
}

.input_cargo_funcao_pdf {
    margin-left: 0;
    border-top: 0;
    border-right: 0;
    width: 49.3%;
}
.float_cargo_funcao {
    position: absolute;
    left: 365px;
}
.input_salario_base_pdf {
    border-top: 0;
    width: 17.2634%;
}
.float_salario_base {
    position: absolute;
    left: 940px;
}
